// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.smallimg {
    width: 10%;

    img {
        height: 40px;
        width: auto;
    }
}
.img {
    height: 200px;

    img {
        display: block;
        height: 200px;
        width: auto;
    }
}

// .card-body{
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
