// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.logo {
    width: 150px;
    height: auto;
}
.card-list{
   margin-bottom: 5px;
 
.card-header-list{
    display: inherit
}
.card-body-list{
    
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        
}
.card-title-bold{
    font-size: 18px;
        font-weight: bold;
        line-height: 1.4;
        margin-right: 7px;
}
.btn-delete{
    color:red;

}
}
.buttons {
    display: flex;
    gap: 10px;
    margin: 0;
}
.smallimg {
    width: 10%;

    img {
        height: 40px;
        width: auto;
    }
}
.img {
    height: 200px;

    img {
        display: block;
        height: 200px;
        width: auto;
    }
}

// .card-body{
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
