// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.list-table {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
    box-shadow: 0px 0px 50px 11px rgba(95, 138, 236, 0.05);
        border-radius: 20px;
        width: 300px;
        height: 300px;

    
}
.smallimg {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        max-width: 220px;
        height: auto;
    }
}