// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.list-table {
    border: 1px solid cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.smallimg {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        max-width: 220px;
        height: auto;
    }
}