// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.one-card{
    margin-bottom: 20px;
    border-radius: 30px;
    
    box-shadow: 0px 0px 50px 11px rgba(95, 138, 236, 0.05);
    width: 25%;
}

.list-table {
    
    
}

.smallimg {
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        max-width: auto;
        max-height: 300px;
        border-radius: 30px;
    }
}